name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Sysdig CIS Dockerfile Benchmark
      uses: sysdiglabs/benchmark-dockerfile@v1.0.0

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag habbdt/ibmcloud-cli:$(date +%s)
